@font-face {
  font-family: "AcadEref Regular";
  src: url("../fonts/AcadEref Regular.ttf") format("ttf"); }

* {
  margin: 0;
  padding: 0; }

body {
  background-image: url("../image/SignIn.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100vh;
          background-size: 100% 100vh; }

.container {
  display: grid;
  grid-template-columns: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 478px;
  margin: 55px auto;
  border: 1px solid #838792;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: white; }
  .container .header {
    height: 77px;
    padding-top: 48px;
    text-align: center; }
  .container .form {
    width: 334px;
    height: 207px;
    padding-top: 24px; }
    .container .form input {
      display: block;
      width: 100%;
      height: 61px;
      font-family: "Helvetica Neue";
      font-size: 23.04px;
      text-align: center;
      border: 1px solid #a3a7ac;
      margin-left: -2px; }
      .container .form input:first-child {
        -webkit-border-radius: 5px 5px 0px 0px;
                border-radius: 5px 5px 0px 0px; }
      .container .form input:nth-child(2) {
        -webkit-border-radius: 0px 0px  5px 5px;
                border-radius: 0px 0px  5px 5px; }
    .container .form button {
      width: 100%;
      height: 55px;
      font-family: Helvetica Neue, serif;
      font-weight: bold;
      font-size: 23.04px;
      color: white;
      background: -webkit-gradient(linear, left top, left bottom, from(#fc8900), to(#fa6300));
      background: -webkit-linear-gradient(top, #fc8900, #fa6300);
      background: -o-linear-gradient(top, #fc8900, #fa6300);
      background: linear-gradient(180deg, #fc8900, #fa6300);
      border: 1px solid #fc8900;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      -webkit-box-shadow: inset 0 1px 2px white;
              box-shadow: inset 0 1px 2px white;
      margin-top: 23px;
      -webkit-transition: 375ms ease-in-out;
      -o-transition: 375ms ease-in-out;
      transition: 375ms ease-in-out; }
      .container .form button:hover {
        background: white;
        color: #fc8900; }
      .container .form button:active {
        background: #fc8900; }
  .container .no-account {
    font-family: "Helvetica Neue", serif;
    font-size: 18.89px;
    line-height: 40px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 39px;
    color: #a3a7ac; }
    .container .no-account span {
      display: block; }
      .container .no-account span a {
        color: #a3a7ac;
        text-decoration: none;
        border-bottom: 1px solid #a3a7ac; }
