@font-face{
	 font-family: "AcadEref Regular";
 	src: url("../fonts/AcadEref Regular.ttf") format("ttf"),
}
*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url('../image/SignIn.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100vh;
}

.container{
	display: grid;
	grid-template-columns: auto;
	justify-content: center;
	max-width: 478px;
	margin: 55px auto;
	border: 1px solid #838792;
	border-radius: 5px;
	background-color: white;
	.header{
		height:77px;
		padding-top: 48px;
		text-align: center;
	}
	.form{
		width:334px;
		height: 207px;
		padding-top:24px;
		input{
			display: block;
			width:100%;
			height: 61px;
			font-family: "Helvetica Neue";
			font-size: 23.04px;
			text-align: center;
			border: 1px solid #a3a7ac;
			margin-left: -2px;
			&:first-child{
				border-radius: 5px 5px 0px 0px;
			}
			&:nth-child(2){
				border-radius:0px 0px  5px 5px;

			}

		}
		button{
			width:100%;
			
			height: 55px;
			font-family: Helvetica Neue, serif;
			font-weight: bold;
			font-size: 23.04px;
			color: white;
			background: linear-gradient(180deg,#fc8900,#fa6300);
			border: 1px solid #fc8900;
			border-radius: 2px;
			box-shadow: inset 0 1px 2px white;
			margin-top: 23px;
			transition: 375ms ease-in-out;
			&:hover{
				background: white;
				color: #fc8900;
			}
			&:active{
				background: #fc8900;
			}
		}
		
	}
	.no-account{
		font-family: "Helvetica Neue", serif;
		font-size: 18.89px;
		line-height: 40px;
		text-align: center;
		padding-top:15px;
		padding-bottom: 39px;
		color: #a3a7ac;
		span{
			display:block;
			a{
				color:#a3a7ac;
				text-decoration: none;
				border-bottom: 1px solid #a3a7ac;
			}
		}
	}

}
